<header>
  <nav>
    <img src="\assests\images\localgoodslogo.webp" alt="Local Goods Logo" class="logo">


    <div class="dashboard-menu first" tabindex="0">
      <a href="/dashboard" class="dashboard-link">
        <div class="dashboard-icon">
          <em class="fa-solid fa-house"></em>
        </div>
        <span class="dashboard-text">Dashboard</span>
      </a>
    </div>


    <div class="sales-menu first" tabindex="0">
      <em class="fa-solid fa-chart-simple"></em>
      <span>Sales</span>
      <ul class="sales-dropdown">
        <li><a href="/manage-orders">Orders</a></li>
        <li><a href="/shipments">Shipments</a></li>
      </ul>
    </div>

    <div class="sales-menu ml-4" tabindex="0">
      <em class="fa-solid fa-cube"></em>
      <span>Catalog</span>
      <ul class="sales-dropdown">
        <li><a href="/product-layout"><em class="fa-solid fa-cubes mr-2"></em>Manage Products</a></li>
        <li><a href="/product-stock"><em class="fa-solid fa-cubes mr-2"></em>Low Stock Report</a></li>
        <li><a href="/category-list"><em class="fa-brands fa-hive mr-2"></em>Categories</a></li>
      </ul>
    </div>



    <div class="right-icons">
      <em class="fa-solid fa-user"></em>
      <a class="shake"><em class="fa-solid fa-bell"></em></a>
    </div>
  </nav>
</header>



