<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="pt-3 pb-2 mb-3 border-bottom d-flex align-items-center card-header">
          <button (click)="onBack()" class="btn btn-outline-secondary ">
            <h3>&larr;</h3>
          </button>
          <h3 class="h2 flex-grow-1 text-center title">
            {{ isEdit ? 'Update Category' : 'Add Category' }}
          </h3>
        </div>

        <div class="card-body">
          <form [formGroup]="categoryForm" (ngSubmit)="submit()">
            <div class="form-group">
              <label for="CategoryName" class="label">
                Category Name
                <span class="required-asterisk">*</span>
              </label>
              <input id="CategoryName" formControlName="CategoryName" type="text" class="form-control" (blur)="onBlurValidateCategoryName()">
              <small class="form-text text-danger" *ngIf="categoryForm.get('CategoryName')?.errors?.['required'] && categoryForm.get('CategoryName')?.['touched']">Name is required.</small>
              <small class="form-text text-danger" *ngIf="categoryForm.get('CategoryName')?.errors?.['maxlength']">
                Category name cannot exceed 50 characters.
              </small>
              <small class="form-text text-danger" *ngIf="categoryForm.get('CategoryName')?.errors?.['invalidCategoryName']">
                This Category has already existed.
              </small>
            </div>
            <div class="form-group">
              <label for="Description" class="label">Description (Optional)</label>
              <textarea id="Description" formControlName="Description" class="form-control" rows="4"></textarea>
              <small class="form-text text-danger" *ngIf="categoryForm.get('Description')?.errors?.['maxlength']">
                Category description cannot exceed 500 characters.
              </small>
            </div>
            <div class="mt-3">
              <label for="Image">Image</label>
              <input id="Image" type="file" #imageInput (change)="onFileChange($event)" accept="image/*" class="ml-3" />
              <div *ngIf="images.length > 0">
                <img [src]="images[0]" alt="Category Image" style="max-width: 200px;" />
              </div>
              <div *ngIf="categoryForm.get('Image')?.errors?.['imageRequired']">
                Image is required
              </div>

            </div>
            <div class="form-group mt-3">
              <label for="Status" class="label">
                Status
              </label>
              <div class="relative inline-block w-16 ml-5 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox"
                       name="statusToggle"
                       id="statusToggle"
                       class="toggle-checkbox absolute block w-8 h-8 rounded-full bg-white border-4 appearance-none cursor-pointer"
                       formControlName="Status" />
                <label for="statusToggle"
                       class="toggle-label block overflow-hidden h-8 rounded-full bg-gray-300 cursor-pointer">
                  <span class="toggle-active absolute left-0 w-16 h-8 flex items-center justify-center text-white text-sm font-semibold">Active</span>
                  <span class="toggle-inactive absolute right-0 w-16 h-8 flex items-center justify-center text-gray-500 text-sm font-semibold">Inactive</span>
                </label>
              </div>
            </div>

            <div class="text-center mt-4">
              <button type="submit"
                      class="btn btn-primary create-button"
                      [disabled]="categoryForm.invalid">
                {{ isEdit ? 'Update' : 'Create' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
